* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #edf2ff;
  position: relative;
  /* overflow: hidden; */
}

.wrapper {
  width: 100%;
  /* height: 100vh; */
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-columns: minmax(80px, 100px) 1fr;
  row-gap: 5rem;
}

/* Navigation */

header {
  grid-area: header;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.nav-left {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: auto;
  margin-left: 1rem;
}

.nav-left h1 {
  font-weight: 600;
  font-size: 1.25rem;
  /* width: 20%; */
  min-width: 6rem;
  white-space: nowrap;
  color: #212529;
  flex-shrink: 0;
}

.nav-left input {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 500px;
  /* margin-left: 3rem; */
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.logo div {
  height: 0.1rem;
  width: 0.8rem;
  border: 1px solid black;
}

.logo div:nth-of-type(2) {
  width: 1.8rem;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 1rem;
}

.vertical {
  width: 0.15rem;
  height: 2rem;
  background-color: #ced4da;
}

.nav-right img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-right p {
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
}

.nav-right svg {
  width: 25px;
  cursor: pointer;
}

/* ASIDE */

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3.2rem 1rem;
}

aside svg:not(aside svg:nth-of-type(4)) {
  width: 30px;
  cursor: pointer;
}

aside svg:nth-of-type(4) {
  width: 40px;
  cursor: pointer;
}

/* MAIN */

main {
  grid-area: main;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  /* background-color: green; */
  padding-right: 20px;
}

.hero {
  width: 100%;
  /* max-width: 1000px; */
  /* height: 680px; */
  padding: 2rem 1.5rem;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  /* position: absolute;
  top: 100px; */
}

.hero h2 {
  font-size: 24px;
}

.hero-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-2 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-2 .status {
  display: flex;
  gap: 30px;
}

.hero-2 .status > div {
  text-align: center;
}

.hero-2 .status > div > span {
  font-size: 1.5rem;
  font-weight: 500;
}

.hero-2 .status > div > p {
  letter-spacing: 0.5px;
}

.hero-2 svg {
  width: 25px;
}

.hero-2 .hero-button {
  display: flex;
  gap: 20px;
}

.hero-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "project-1 project-2 project-3"
    "project-4 project-5 project-6";
  width: 100%;
  height: 450px;
  /* background-color: red; */
  gap: 10px;
  margin-top: 30px;
}

.hero-3 > div {
  border-radius: 20px;
}

.hero-3 .project-1 {
  grid-area: project-1;
  background-color: red;
}

.hero-3 .project-2 {
  grid-area: project-2;
  background-color: blue;
}

.hero-3 .project-3 {
  grid-area: project-3;
  background-color: green;
}

.hero-3 .project-4 {
  grid-area: project-4;
  background-color: indigo;
}

.hero-3 .project-5 {
  grid-area: project-5;
  background-color: maroon;
}

.hero-3 .project-6 {
  grid-area: project-6;
  background-color: yellow;
}

.sides {
  width: 40%;
  /* max-width: 400px; */
  height: 680px;
  background-color: blue;
  padding: 2rem 1.5rem;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  /* position: absolute;
  top: 100px;
  right: 20px;
  left: 1010px; */
}

@media (max-width: 1120px) {
  .hero-3 {
    grid-template-areas:
      "project-1 project-2"
      "project-3 project-4"
      "project-5 project-6";
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(3, 1fr); */
  }
  .hero-2 .status {
    gap: 1.2rem;
  }

  .hero-2 .status > div > span {
    font-size: 1.3rem;
  }

  .hero-2 .status > div > p {
    font-size: 0.8rem;
  }
}

@media (max-width: 1000px) {
  .nav-left h1 {
    display: none;
  }

  .nav-right svg {
    width: 20px;
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  .sides {
    display: none;
  }
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-areas:
      "header"
      "main";
    grid-template-columns: 1fr;
    padding-left: 1.2rem;
  }

  aside {
    display: none;
  }

  .logo {
    display: none;
  }
}
